<%- include("../../components/header", header) %>
<main>
    <h1>Commande</h1>
    <%- include("../../components/order-steps") %>
    <%- include("../../components/order-form") %>
</main>
<%- include("../../components/footer", footer) %>
<%- include("../../utils/script-list", {scripts}) %>