<%- include("../../components/header", header) %>
<main>
    <h1>Notre sélection</h1>
    <%- include("product-list", {}) %>
</main>
<%- include("../../components/footer", footer) %>

<%- include("../../utils/script-list", {scripts}) %>
<%- include("../../components/teddy-card-template", {}) %>
